/*.navbar{*/
    /*margin-bottom: 0;*/
    /*padding: 2em;*/
/*}*/

.footer {
    color: #777;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
}

/*.navbar-default .navbar-nav > .active > a{*/
    /*color: #555;*/
    /*background-color: inherit;*/
/*}*/
.dropdown-menu > li > a{
    padding: 10px 20px;
}
.jumbotron{
    background: #5cb860;
    margin-bottom: 20px;
    color: #fff;
}
.media,.media-body{
    overflow: inherit;
    padding-top:8px;
}
/*.img-circle{*/
    /*box-shadow: rgba(255, 255, 255, 1) 0 0 0 3px, rgba(255, 255, 255, 1) 0 0 1px 3px;*/
/*}*/

.media-conversation-replies {
    float: right;
    margin-top: 2px;
    display: block;
    font-size: 14px;
    width: 55px;
    padding-left: 21px;
    color: #667d99;
}

h3.media-heading a{
    font-weight: normal;
    font-size: 15px;
}

.media-body .username{
    font-weight: bold;
    color:inherit;
}
.media-body{
    color: #aaa;
    font-size: 12px;
 }

#avatar .avatar{
    margin: 2px auto;
    width: 100px;
    z-index: 6;
    margin-top: -28px;
    opacity:0;
    height: 32px;
}
#avatar .btn.avatar-button{
    margin-top: 30px;
    z-index: 3;
}